@font-face {
  font-family: FVAlmelo;
  src: url('../fonts/FVAlmelo.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Museo-900;
  src: url('../fonts/Museo-9OO.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: MuseoSans-300;
  src: url('../fonts/MuseoSans-300.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: NettoOT;
  src: url('../fonts/NettoOT.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: NettoOTBold;
  src: url('../fonts/NettoOTBold.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: OpenSansBold;
  src: url('../fonts/OpenSansBold.woff') format('woff'); 
  font-style: normal;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

h1{
  font-family: OpenSansBold;
}


.margin{
  margin-left: 100px;
}



nav{
  height: 100px;
}

.nav_items{
  margin-left: 50px;
}

.navlogo{
  margin-left: 100px;
}

li > a{
  font-family: NettoOTBold;
  margin-left: 40px;
}

#footer_logo{
  height: 60px;
  width: 150px;
  float: left;
}


.banner{
  background-color: #bb083c;
  width: 100%;
  height: 65px;
}
.banner h1 {
  color: white;
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contentapropos{
  margin-top: 42px;
}
.contenu p{
  font-size: 14px;

}





